<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter your message here -</h1>
    <form method = "POST" action = "/">
        <label for = "senderName"> Name: 
            <input type = "text" name = "senderName">
        </label> <br>
        <label for = "message"> Message: 
            <input type = "text" name = "message">
        </label>
        <input type = "submit">
    </form>
</body>
</html>